
body {
	font-family: "verdana";
	background: url("background.png"); 
	color: black;

}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: darkblue;
}
